python3.10
python3-gdal
libbz2-dev
python3.10-tk
postgresql 
libpq-dev 
postgresql-client 
postgresql-client-common 
postgresql-contrib
multitail
libpoco-dev
python3.10-dev
build-essential 
g++ 
autotools-dev 
libicu-dev 
libboost-all-dev
libboost-mpi-dev 
libmpich-dev 
openmpi-bin
octave
