<html>
  <head>
    <title>openBURST Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
  </head>

  <body>
    <div class="login">
      <h1>openBURST Login</h1>
      <form method="post">
        <input
          type="text"
          name="teamname"
          id="team_field"
          value="blue"
          required="required"
        />
        <input
          type="text"
          name="node"
          id="node_field"
          value="theater/airpic"
          required="required"
        />
        <input type="password" name="password" id="passwd_field" value="blue"
        required="required"' />

        <button
          type="submit"
          class="btn btn-primary btn-block btn-large"
          id="login_button"
        >
          Launch
        </button>
      </form>
    </div>
  </body>
</html>
